.title {
  margin-bottom: 10px;
  text-align: center;
}

input[type="button"] {
  background-color: grey;
  color: black;
  border: solid black 2px;
  width: 100%;
}

table,
td,
th {
  border: 1px solid;
  text-align: center;
  background-color: white;
  margin: auto;
}
input {
  text-align: center;
}
